.main {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "header"
    "content";

    width: 480px;

    navbutton_background_color: dimgray;

}

.header {
    grid-area: header;

    color: white;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 25px;

    border-radius: 20px 20px 0 0;
    background-color: #A900C5;

}

.content {
    grid-area: content;
    background-color: white;
    min-height: 200px;
}