.picture {
    width: 100px;
    height: 100px;
    background: #8200AF;
    border-radius: 50%;
    margin: 32px auto;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.text {
    margin: 30px;
}